body {
    font-family: 'Arial Light';
}

.window {
    width: 1895px;
    height: 943px;
    display: flex;
    justify-content: center;
    line-height: 30px;
}

.elems {
    width: 75%;
}

h1 {
    text-align: center;
    color: #8f8083;
    font-weight: 100;
    font-size: 45px;
}

h2 {
    text-align: center;
    font-size: 32px;
    color: #f7d39c;
    font-weight: 100;
}

p {
    text-align: center;
    font-size: 21px;
    color: #a6abb2;
}

.box {
    display: flex;
}

.training-col1 {
    flex: 1;
}

.training-col2 {
    margin-left: 5px;
    flex: 1;
}

ul {
    color: #a6abb2;
    font-size: 20px;
    margin-left: 40px;
}

.info {
    padding: 15px;
}

b {
    color: #727d8d;
}

hr {
    border: 0.5px solid rgb(228, 228, 228);
}