.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-container {
  text-align: left;
  width: 720px;
}

p {
  justify-content: left;
  text-align: left;
  font-size: 41px;
  margin-top: 0;
  line-height: 45px;
}

h5 {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 5px;
}

h1 {
  font-size: 80px;
  margin-top: 80px;
  margin-bottom: 20px;
}

li {
  font-size: 41px;
  margin-bottom: 5px;
}